<!DOCTYPE html>

<html ng-app="SousChef">
<head>
    <title>SousChef</title>
    <link rel=stylesheet href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="main.css">

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>

<body ng-controller="ContentController">

    <div class="bg">
        <div class="bg-shiny"></div>
    </div>

    <div class="container">

        <h1 style="font-family: 'Pacifico', cursive; font-size:50px;">SousChef!</h1>

            <div class="input-group input-group-lg" style="margin-top:100px;">
              <input type="text" class="form-control" placeholder="Search for recipes!" ng-model="searchValue">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="submitSearch()">Go!</button>
              </span>
            </div>

    </div>

    <script>
          var recognition = new webkitSpeechRecognition();
          recognition.continuous = true;
          recognition.interimResults = false;
          recognition.onstart = function() {console.log('Speech Recognition Commencing')}
          recognition.onresult = function(event) {
              for (var i = event.resultIndex; i < event.results.length; ++i) {
                  if (event.results[i].isFinal) {
                    $.ajax({
                      url: 'https://api.wit.ai/message',
                      data: {
                        'q': event.results[i][0].transcript,
                        'access_token' : 'SMRYKLMQBVUVUFDAPTPTXLY6H2ZM4DQU'
                      },
                      dataType: 'jsonp',
                      method: 'GET',
                      success: function(response) {
                          console.log("success!", response);
                          if(response.outcomes[0].confidence>0.6){
                             $.ajax({
                              url: '/functions',
                              data: {
                                'intent':response.outcomes[0].intent,
                                'entities':response.outcomes[0].entities
                              },
                              dataType: 'jsonp',
                              method: 'GET',
                              success: function(response) {
                                  console.log("Sent intent back to server and nothing failed!");

                              }
                            });
                          }
                      }
                    });
                  }
              }
          }


            recognition.lang = 'en-US';
            recognition.start();

        </script>
</body>
</html>
