.bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(123, 185, 255, 1) ;
    z-index: -1;
}
.bg-shiny{
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.3) ;
    z-index: -1;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
.panel-body{
    height:150px;
}