<div class="container-fluid">
    <h1 style="font-family: 'Pacifico', cursive;">SousChef!</h1>
    
    
    <div class="container" style="margin-top:35px;">

        <div class="page-header" style="border-color:#777;">
          <h1>{{recipe.name}}</h1>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <img ng-src="{{recipe.picture}}" class="img-responsive img-rounded">
            </div>
            <div class="col-xs-12">
                <ul>
                    <li ng-repeat="ingredient in recipe.ingredients">
                        {{ingredient}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



                time:data.totalTimeInSeconds,
                rating:data.rating,
                servings:data.numberOfServings,
                ingredients:data.ingredientLines,
                picture:data.images[0].hostedLargeUrl,
                name:data.name,
                flavors:data.flavors,