<div class="container">
    <h1 style="font-family: 'Pacifico', cursive; font-size:50px;">SousChef!</h1>

    <form ng-submit="submitSearch()">

    <div class="input-group input-group-lg" style="margin-top:50px;">
      <input type="text" class="form-control" placeholder="Search for recipes!" ng-model="searchValue">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
    </div>
        </form>
    <div style="margin-top:20px" class="row row-eq-height">
        <div class="col-xs-12 col-sm-6 col-md-4 normalized-height" ng-repeat="option in searchOptions.results">
        <div class="panel panel-default" style="top-margin:10px;">
          <div class="panel-heading">
            <h3 class="panel-title">{{option.recipeName}}</h3>
          </div>
          <div class="panel-body" style ="max-height:100px">
            <img ng-src="{{option.smallImageUrls[0]}}" class="img-responsive img-thumbnail" style="width:200px"/>
            <i class="fa fa-star" ng-repeat="star in option.rating" style="margin-left:10px"></i>
            <h5>Ingredients</h5>
            <ul>
              <li ng-repeat="ingredient in option.ingredients|limitTo:5">{{ingredient}}</li>
              </ul>
          </div>
        </div>
            </div>
    </div>

</div>
