 <div class="container">

        <h1 style="font-family: 'Pacifico', cursive; font-size:50px;">SousChef!</h1>

            <div class="input-group input-group-lg" style="margin-top:100px;">
              <input type="text" class="form-control" placeholder="Search for recipes!" ng-model="searchValue">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="submitSearch()">Go!</button>
              </span>
            </div>
    </div>